# Project exclude paths
/.gradle/
/.idea/

/core/build/
/core/out/

/web/build/
/web/out/

/admin-monitoring-server/build/
/admin-monitoring-server/out/

/batch/build/
/batch/out/

/internal-api/build/
/internal-api/out/

upload/
/scripts/deploy.sh

core/src/main/resources/*.yml
web/src/main/resources/*.yml
!web/src/main/resources/application-real.yml
!web/src/main/resources/application-real1.yml
!web/src/main/resources/application-real2.yml
batch/src/main/resources/*.yml
internal-api/src/main/resources/*.yml
!internal-api/src/main/resources/application-real1.yml
!internal-api/src/main/resources/application-real2.yml
admin-monitoring-server/src/main/resources/*.yml

web/src/main/java/com/myproject/myweb/handler/EchoHandler.java