# Project exclude paths
/.gradle/
/.idea/

/gradle/

/core/build/
/core/out/

/web/build/
/web/out/

/admin-monitoring-server/build/
/admin-monitoring-server/out/

/batch/build/
/batch/out/

/internal-api/build/
/internal-api/out/

/upload/


/core/src/main/resources/*.yml
/web/src/main/resources/*.yml
/batch/src/main/resources/*.yml
/internal-api/src/main/resources/*.yml
/admin-monitoring-server/src/main/resources/*.yml

/web/src/main/java/com/myproject/myweb/handler/EchoHandler.java