# Project exclude paths
/.gradle/
/.idea/

/gradle/

/core/build/
/core/out/

/web/build/
/web/out/

/upload/

/web/src/main/resources/*.yml
/core/src/main/resources/*.yml

/web/src/main/java/com/myproject/myweb/handler/EchoHandler.java

