<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<div layout:fragment="content">
    <div>
        <div>
            <input type="hidden" th:value="${order.id}" name="id">
        </div>

        <div class="md-3" th:each="item: ${order.orderItems}">
            <div><input type="hidden" th:value="${item.itemId}" name="itemId"></div>
            <input type="text" class="form-control" th:value="${item.name}" readonly>
            <input type="text" class="form-control" th:value="${item.price}" readonly>
            <input type="text" class="form-control" th:value="${item.count}" readonly>
        </div>

        <div class="md-3">
            <input type="text" class="form-control" th:value="${order.totalPrice}" readonly>
        </div>

        <div class="md-3">
            <input type="text" class="form-control" th:value="${order.orderStatus}" readonly>
        </div>

        <div class="md-3">
            <input type="text" class="form-control" th:value="${order.orderDate}" readonly>
        </div>

        <div class="md-3">
            <input type="text" class="form-control" th:value="${order.deliveryStatus}" readonly>
        </div>
    </div>

</div>

</html>