<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div><input type="hidden" th:value="${order.id}" name="id"></div>

        <div th:each="item: ${order.orderItems}">
            <div><input type="hidden" th:value="${item.itemId}" name="itemId"></div>
            <div th:text="${item.name}"></div>
            <div th:text="${item.price}"></div>
            <div th:text="${item.count}"></div>
        </div>

        <div th:text="${order.totalPrice}"></div>

        <div th:text="${order.orderStatus}"></div>
        <div th:text="${order.orderDate}"></div>

        <div th:text="${order.deliveryStatus}"></div>
    </div>
</body>
</html>