<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<div layout:fragment="content">
    <div>
        <div><input type="hidden" th:value="${order.id}" name="id"></div>

        <div th:each="item: ${order.orderItems}">
            <div><input type="hidden" th:value="${item.itemId}" name="itemId"></div>
            <div th:text="${item.name}"></div>
            <div th:text="${item.price}"></div>
            <div th:text="${item.count}"></div>
        </div>

        <div th:text="${order.totalPrice}"></div>

        <div th:text="${order.orderStatus}"></div>
        <div th:text="${order.orderDate}"></div>

        <div th:text="${order.deliveryStatus}"></div>
    </div>

</div>

</html>