<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<th:block layout:fragment="script">
    <script src="/js/order-list.js"></script>
    <script src="/js/pagination.js"></script>
</th:block>

<div layout:fragment="content">
    <script>
        $(function(){
            $.ajax({
                type: 'get',
                url: '/order/list/api?page=' + 1 + '&size=' + 5,
                success: function(data) {
                    $("#total_page").val(data["totalPage"]);
                    $("#size").val("5").prop("selected", true);

                    orderListChange(data);
                    pagination("1", "5", data["totalPage"]);
                },
                error : function(request, status, error) {
                    console.log(request, status, error);
                }
            });
        });
    </script>

    <div class="md-3">
        <select class="form-select" id="size">
            <option value="5">5개</option>
            <option value="10">10개</option>
        </select>
    </div><br>

    <div id="orderList"></div>

    <div>
        <input type="hidden" id="now_page" value="1">
        <input type="hidden" id="total_page">
    </div>

    <br>
    <div id="pagination"></div>

    <!-- th:onclick=" 'location.href=\'' + @{/order/detail/{id}(id=${order.id})} + '\'' ">-->
</div>

</html>