<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var msg = /*[[ ${msg} ]]*/;
        /*]]*/

        $(document).ready(function(){
            if(msg != null){
                alert(msg);
            }
        });
    </script>

    <form method="post" action="/order/payment/ready">
        <div>
            <div>
                <div th:text="${item.name}"></div>
                <div th:text="${item.price}"></div>
                <div th:each="photo: ${item.photos}">
                    <img th:src="|../../${photo.name}|" width="200" height="200">
                </div>
                <div>
                    <input type="hidden" name="item_id" th:value="${item.id}">
                    <input type="hidden" name="user_id" th:value="${session.user.id}">
                </div>
            </div>


            <div><input type="text" name="count" value="1"></div>
            <div>
                <input type="submit" value="장바구니 담기" formaction="/cart/save">
                <input type="submit" value="주문하기">
            </div>
        </div>
    </form>
</body>
</html>