<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var msg = [[ ${msg} ]];
        /*]]*/

        $(document).ready(function(){
            if(msg != null){
                alert(msg);
            }
        });
    </script>

    환영합니다.

    <div th:if="${session.customer}">
        <span th:text="|${session.customer.name}님, 안녕하세요!|"></span>
        <span>
            상품 목록 보기
            <select>
                <span th:each="cate : ${categories}">
                    <option th:value="${cate.getKey()}" th:text="${cate.getValue()}"></option>
                </span>
            </select>
        </span>
        <span th:if="${session.customer.cartId} != null">
            <a th:href="@{/cart/detail/{id}(id=${session.customer.cartId})}">장바구니 이동</a>
        </span>
    </div>

    <div th:if="${session.seller}">
        <div th:text="|${session.seller.name}님, 안녕하세요!|"></div>
        <div><a href="/item/save">상품 등록하기</a></div>
        <div><a href="/seller/item/list">등록한 상품 목록</a></div>
    </div>

    <div th:if="${session.customer} == null and ${session.seller} == null">
        <a href="/join">회원가입</a>
        <a href="/login">로그인</a>
    </div>
</body>
</html>