<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<div layout:fragment="content">
    <form action="/seller/login" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="email" name="username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="password" name="password" required>
        </div>
        <div class="mb-3">
            <input type="submit" value="로그인">
        </div>
    </form>
</div>