<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<div layout:fragment="content">
    <form method="post" action="/order/payment/ready">
        <div>
            <input type="hidden" name="item_id" th:value="${item.id}">
            <input type="hidden" name="customer_id" th:value="${session.customer.id}">
        </div>

        <div class="md-3">
            <input type="text" class="form-control" th:value="${item.category.getValue()}" readonly>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" th:value="${item.name}" readonly>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" th:value="${item.price}" readonly>
        </div>

        <div th:each="photo: ${item.photos}">
            <img th:src="|../../${photo.name}|" class="img-thumbnail" th:alt="${photo.originName}" width="200" height="200">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" name="count" value="1">
        </div>

        <div class="mb-3">
            <select name="coupon" class="form-select">
                <option value="null">선택안함</option>
                <span th:each="coupon: ${coupons}">
                    <option th:value="${coupon.id}" th:text="|${coupon.name} - ${coupon.discountPer}% - ${coupon.expirationDate}까지|"></option>
               </span>
            </select>
        </div>

        <div class="mb-3">
            <input type="submit" value="장바구니 담기" formaction="/cart/save">
            <input type="submit" value="주문하기">
        </div>
    </form>
</div>

</html>