<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<div layout:fragment="content">
    <form method="post">
        <div>
            <input type="hidden" name="item_id" th:value="${item.id}">
            <input type="hidden" name="customer_id" th:value="${session.customer.id}">
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="${item.category.getValue()}"></li>
            <li class="list-group-item" th:text="${item.name}"></li>
            <li class="list-group-item" th:text="${item.price}"></li>

            <li class="list-group-item" th:each="photo: ${item.photos}">
                <img th:src="|../../${photo.path}|" class="img-thumbnail" th:alt="${photo.originName}" width="200" height="200">
            </li>

            <li class="list-group-item">
                <input type="text" class="form-control" name="count" value="1">
            </li>

            <li class="list-group-item">
                <select name="coupon" class="form-select">
                    <option value="null">선택안함</option>
                    <span th:each="coupon: ${coupons}">
                        <option th:value="${coupon.id}" th:text="|${coupon.name} - ${coupon.expirationDate}까지|"></option>
                    </span>
                </select>
            </li>
        </ul>

        <div class="mb-3">
            <input type="submit" value="장바구니 담기" formaction="/cart/save">
            <input type="submit" value="주문하기" formaction="/order/ready">
        </div>
    </form>
</div>