<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<div layout:fragment="headFragment">
    <script src="/js/item-list.js"></script>
</div>

<div layout:fragment="content">
    <script>
        $(document).ready(function(){
            // 처음에는 nowPage 항상 1
            pagination([[ ${nowPage} ]], [[ ${nowSize} ]], [[ ${totalPage} ]]);
            $("#size").val([[ ${nowSize} ]]).prop("selected", true);
        });
    </script>

    <div>
        <select class="form-select" id="size">
            <option value="5">5개</option>
            <option value="10">10개</option>
        </select>
    </div>

    <div id="itemList">
        <div th:each="item: ${items}">
            <div><a th:href="@{/item/detail/{id}(id=${item.id})}" th:text="${item.name}"></a></div>
            <div th:text="|${item.price}원|"></div>
            <br>
        </div>
    </div>

    <div>
        <input type="hidden" id="now_page" th:value="${nowPage}">
        <input type="hidden" id="total_page" th:value="${totalPage}">
        <input type="hidden" id="category" th:value="${category}">
    </div>

    <div id="pagination">

    </div>
</div>

</html>