<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var msg = [[ ${msg} ]]; // 그냥 [[ ${msg} ]]만으로 되는지 확인하기
        /*]]*/

        $(document).ready(function(){
            var now_page = $("#nowPage").val();
            var now_page_by_ten = parseInt(now_page / 10) * 10;

            var pages = "";
            var start = now_page_by_ten;
            if(start != 0) {
                pages += "<input type='button' name='previous' value='이전'>";
            }else{
                start = 1; // 일의 자리의 페이지라면 시작은 1
            }

            var total_page = $("#totalPage").val();
            total_page = parseInt(total_page) + 1;
            var end = parseInt(start + 10);
            if(end > total_page) {
                end = total_page;
            }

            for(var i=start; i<end; i++){
                console.log(i);
                pages += "<input type='button' name='page' value='" + i + "'>";
            }

            if(end != total_page) {
                pages += "<input type='button' name='next' value='다음'>";
            }

            $("#pagination").replaceWith(pages);
        });

        $(document).ready(function(){
            var now_page = $("#nowPage").val();
            var now_size = $("#nowSize").val(); // null인지 확인하기

            $("input[name='page']").val(now_page).attr('class', 'btn btn-black'); // 다른 버튼 눌렀을 때 없어지는지 확인
            $("#size").val(now_size).prop("selected", true);
        });


        $("#size").change(function(){
            var data = {
                category: $("#category").val(),
                page: this.val(),
                size: $("#nowSize").val()
            };

            $.ajax({
                type: 'get',
                url: '/item/list',
                data: data,
                success: function(data) {
                    $.each(Object.keys(data), function(index, key){
                        $("#data[key]").val(data[key]);
                    });

                    $("#itemList").replaceWith(data[items]);
                },
                error : function(request, status, error) {
                    console.log(request, status, error);
                }
            });

        });

        $("input[name='page']").click(function(){
            var data = {
                category: $("#category").val(),
                page: this.val(),
                size: $("#nowSize").val()
            };

            $.ajax({
                type: 'get',
                url: '/item/list',
                data: data,
                success: function(data) {
                    $.each(Object.keys(data), function(index, key){
                        $("#data[key]").val(data[key]);
                    });

                    $("#itemList").replaceWith(data[items]);
                },
                error : function(request, status, error) {
                    console.log(request, status, error);
                }
            });

        });

        $("input[name='previous']").click(function(){
            var first_page = $("input[name='page']:first").val();

            var start = parseInt(first_page - 10);
            var pages = "";
            if(start != 1) {
                pages += "<input type='button' name='previous' value='이전'>";
            }

            var total_page = $("#totalPage").val();
            total_page = parseInt(total_page) + 1;
            var end = parseInt(start + 10);
            if(end > total_page) {
                end = total_page;
            }

            for(var i=start; i<end; i++){ // 이거 반복이니까 함수로 빼기
                pages += "<input type='button' name='page' value='" + i + "'>";
            }

            if(end != totalPage) {
                pages += "<input type='button' name='next' value='다음'>";
            }

            $("#pagination").replaceWith(pages);
        });

        $("input[name='next']").click(function(){
            var last_page = $("input[name='page']:last").val();

            var pages = "";
            var start = parseInt(last_page + 1);
            if(start != 1) {
                pages += "<input type='button' name='previous' value='이전'>";
            }

            var total_page = $("#totalPage").val();
            total_page = parseInt(total_page) + 1;
            var end = parseInt(start + 10);
            if(end > total_page) {
                end = total_page;
            }

            for(var i=start; i<end; i++){
                pages += "<input type='button' name='page' value='" + i + "'>";
            }

            if(end != totalPage) {
                pages += "<input type='button' name='next' value='다음'>";
            }

            $("#pagination").replaceWith(pages);
        });

    </script>

    <div>
        <select id="size">
            <option value="1">1개(10개)</option>
            <option value="3" selected>3개(20개)</option>
        </select>
    </div>

    <div th:each="item: ${items}">

        <div th:text="${item.name}"></div>
        <div th:text="|${item.price}원|"></div>
        <div th:text="|수량 ${item.stock}개|"></div>

        <div th:each="photo: ${item.photos}">
            <img th:src="|../${photo.name}|" th:alt="${photo.originName}" width="200" height="200">
        </div>
    </div>

    <div id="itemList"></div>

    <div>
        <input type="hidden" id="nowSize" th:value="${nowSize}">
        <input type="hidden" id="nowPage" th:value="${nowPage}">
        <input type="hidden" id="totalPage" th:value="${totalPage}">
        <input type="hidden" id="category" th:value="${category}">
    </div>

    <div id="pagination">

    </div>
</body>
</html>