<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<div layout:fragment="content">
    <form action="/item/save" method="post" enctype="multipart/form-data">
        <div>
            <input type="hidden" name="seller_id" th:value="${session.seller.id}">
        </div>

        <div>
            <select name="category" class="form-select" aria-label="Default select example">
                <div th:each="cate : ${categories}">
                    <option th:value="${cate.getKey()}" th:text="${cate.getValue()}"></option>
                </div>
            </select>
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" name="name" placeholder="상품명">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="price" placeholder="가격">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="stock" placeholder="수량">
        </div>

        <div class="mb-3">
            <input class="form-control" type="file" name="file" multiple>
        </div>

        <div class="mb-3"><input type="submit" value="save"></div>
    </form>
</div>
</html>