<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<script>
    $(document).ready(function(){
        $("#checkAll").click(function(){
            if($("input:checkbox[id='checkAll']").prop("checked")){
                $("input[type=checkbox]").prop("checked", true);
            }else{
                $("input[type=checkbox]").prop("checked", false);
            }
        });
    });
</script>

<div th:if="${#lists.size(cart.cartItems)} == 0">

    장바구니에 상품이 없습니다.

</div>

<form method="post">
    <div>
        <input type="hidden" name="cart_id" th:value="${cart.id}">
        <input type="hidden" name="user_id" th:value="${session.user.id}">
    </div>

    <div th:each="cartItem : ${cart.cartItems}">
        <div><input type="hidden" name="cartItem_id" th:value="${cartItem.id}"></div>
        <div><input type="checkbox" name="item_id" th:value="${cartItem.itemId}"></div>

        <div th:text="${cartItem.itemName}"></div>
        <div th:text="|${cartItem.itemPrice}원|"></div>

        <div><input type="text" th:value="${cartItem.itemCount}" name="count"></div>

        <div th:text="${cartItem.coupon}"></div> 있으면 공개
        <div> 있든 없든 변경 가능하게
           <select name="coupon" th:each="coupon : ${coupons}">
                <option th:value="${coupon.id}" th:text="${coupon.name} ${coupon.discountPer} ${coupon.expirationDate}"></option>
            </select>
        </div>
    </div>

    <br>
    <div th:text="|전체 금액 ${cart.totalPrice}원|"></div>
    <br><br>
    <div>
        <label for="checkAll">전체 선택</label>
        <input type="checkbox" id="checkAll">
    </div>
    <div>
        <input type="submit" value="선택 삭제하기" formaction="/cart/remove">
    </div>
    <br><br>
    <div>
        <input type="submit" value="선택 주문하기" formaction="/order/payment/ready">
    </div>

</form>
</body>
</html>