<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<th:block layout:fragment="script">
    <script src="/js/cart.js"></script>
</th:block>

<div layout:fragment="content">

    <div class="md-3" th:if="${#lists.size(cart.cartItems)} == 0">
        <input type="text" value="장바구니에 상품이 없습니다." class="form-control" readonly>
    </div>

    <div>
        <input type="hidden" id="cart_id" th:value="${cart.id}">
        <input type="hidden" id="customer_id" th:value="${session.customer.id}">
    </div>

    <div th:each="cartItem : ${cart.cartItems}">
        <form method="post" action="/cart/update">
            <div>
                <input type="hidden" name="cart_id" th:value="${cart.id}">
                <input type="hidden" name="cartItem_id" th:value="${cartItem.id}">
            </div>

            <div class="form-check">
                <label>
                    <input class="form-check-input" name="item_id" th:value="${cartItem.itemId}" type="checkbox">
                    <span th:text="|${cartItem.itemName} - ${cartItem.itemPrice}원|"></span>
                </label>
            </div>

            <div class="mb-3">
                <input th:value="${cartItem.itemCount}" name="count" class="form-control" type="text">
            </div>

            <div class="mb-3" th:if="${cartItem.coupon} != null">
                <input type="text" th:value="${cartItem.coupon.name}" class="form-control" readonly>
            </div>

            <div class="mb-3">
                <select class="form-select" name="coupon">
                    <option value="null">선택안함</option>
                    <span th:each="coupon: ${coupons}">
                        <option th:value="${coupon.id}" th:text="|${coupon.name} - ${coupon.expirationDate}까지|"></option>
                    </span>
                </select>
            </div>

            <div class="mb-3"><input type="submit" value="수정"></div>
        </form>
    </div>

    <div class="form-check">
        <input class="form-check-input" id="check_all" type="checkbox">
        <label class="form-check-label" for="check_all">전체 선택</label>
    </div><br>

    <div class="mb-3">
        <input type="button" value="선택 삭제하기" id="cart-delete">
        <input type="button" value="선택 주문하기" id="order">
    </div>

</div>
</html>