<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

다른 모든 템플릿에
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout/basic">
적용

<header th:fragment="headerFragment">
  <!--
  <script>
        $(document).ready(function(){
            $("#list").click();
        });
    </script>
  <div id="header">

    <div style="display:none">
      <input type="button" id="list"/>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">홈페이지</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <span id="categoryList"></span>

            <span th:each="category : ${categories}">
                <a class="nav-link" th:href="@{/post/list(cateId=${category.id})}" th:text="${category.name}"></a>
            </span>

            <span th:if="${session.user==null}">
                        <a class="nav-link" href="/login">Login</a>
                    </span>
            <span th:if="${session.user!=null}">
                        <a class="nav-link" href="/mypage">MyPage</a>
                    </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
  -->

</header>
</html>