<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
  <div id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">땡땡마켓</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">HOME</a>
            </li>

            <span th:if="${session.customer != null}">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  카테고리
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                  <span id="header-category">

                  </span>
                </ul>
              </li>

              <li class="nav-item" th:if="${session.customer.cartId != null}">
                <a class="nav-link" th:href="@{/cart/detail/{id}(id=${session.customer.cartId})}">장바구니 이동</a>
              </li>

              <li class="nav-item"><a class="nav-link" href="/order/list">주문 내역</a></li>

              <li class="nav-item"><a class="nav-link" href="/customer/logout">로그아웃</a></li>
            </span>


            <span th:if="${session.seller != null}">
              <li class="nav-item">
                <a class="nav-link" href="/seller/item/save">상품 등록하기</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/seller/item/index">등록한 상품 목록</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/seller/logout">로그아웃</a>
              </li>
            </span>


            <span th:if="${session.customer} == null and ${session.seller} == null">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  고객
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="/customer/join">회원가입</a></li>
                  <li><a class="dropdown-item" href="/customer/login">로그인</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  판매자
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                  <li><a class="dropdown-item" href="/seller/join">회원가입</a></li>
                  <li><a class="dropdown-item" href="/seller/login">로그인</a></li>
                </ul>
              </li>
            </span>

          </ul>
        </div>
      </div>
    </nav>
  </div>


</header>
</html>