<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<script th:inline="javascript">
        /*<![CDATA[*/
        var msg = [[ ${msg} ]];
        /*]]*/

        $(document).ready(function(){
            if(msg != null){
                alert(msg);
            }
        });
    </script>


  <div>
    <div>
      <div th:text="${item.category.getValue()}" readonly></div>
      <div th:text="${item.name}"></div>
      <div th:text="${item.price}"></div>
      <div th:text="${item.stock}"></div>
      <div th:each="photo: ${item.photos}">
        <img th:src="|../../../${photo.name}|" width="200" height="200">
      </div>
    </div>

    <div>
      <a th:href="@{/seller/item/update/{id}(id = ${item.id})}" th:text="수정"></a>
    </div>
  </div>
</body>
</html>