<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<div layout:fragment="content">

  <ul class="list-group list-group-flush">
    <li class="list-group-item" th:text="${item.category.getValue()}"></li>
    <li class="list-group-item" th:text="${item.name}"></li>
    <li class="list-group-item" th:text="${item.price}"></li>
    <li class="list-group-item" th:text="${item.stock}"></li>
    <li class="list-group-item" th:each="photo: ${item.photos}">
      <img th:src="|../../../${photo.name}|" class="img-thumbnail" th:alt="${photo.originName}" width="200" height="200">
    </li>
    <li class="list-group-item"><a class="btn btn-light" th:href="@{/seller/item/update/{id}(id = ${item.id})}">수정</a></li>
  </ul>

</div>