<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">

<div layout:fragment="content">

  <form th:action="@{/seller/item/update/{id}(id=${item.id})}" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <input type="text" th:value="${item.category.getValue()}" class="form-control" readonly>
    </div>

    <div class="mb-3">
      <input type="text" th:value="${item.name}" name="name" class="form-control">
    </div>

    <div class="mb-3">
      <input type="text" th:value="${item.price}" name="price" class="form-control">
    </div>

    <div class="mb-3">
      <input type="text" th:value="${item.stock}" name="stock" class="form-control">
    </div>

    <div th:each="photo : ${item.photos}">
      <input type="hidden" name="photo" th:value="${photo.id}">
      <img th:src="|../../../${photo.name}|" th:alt="${photo.originName}"
           class="img-thumbnail"
           onclick="if(confirm('삭제하시겠습니까?')){$(this).siblings().remove(); $(this).remove();}"
           width="200" height="200">
    </div>

    <!--
    <div class="mb-3">
      <input type="file" class="form-control" name="file" multiple>
    </div>
    -->

    <div class="mb-3">
      <input type="submit" value="저장">
    </div>
  </form>

</div>